@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Palanquin:wght@300&family=Patua+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Castoro", serif;
}

body {
    background-color: #241337;
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

nav {
    width: 14vw;
    height: 16vh;
}

nav p {
    color: #ffffff;
    font-size: 2rem;
    font-family: "Patua one", serif;
}

nav img {
    width: 70px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 77px;
    display: flex;
}

a {
    text-decoration: none;
}

.section-01 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagem {
    padding: 30px;
    margin-right: 110px;
}

.login img {
    width: 65px;
    height: auto;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    background-color: white;
    text-align: center;
    border-radius: 30px;
    padding: 30px 40px;
}



.login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.login #input-box-02 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input {
    width: 250px;
    height: 100%;
    border-radius: 50px;
    background-color: #6731b3;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px
}

.login .btn {
    width: 100%;
    height: 45px;
    background-color: #ffdb53;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-bottom: 20px;
}

.login .btn:hover {
    color: #ffdb53;
    background-color: black;
}

.register {
    padding: 5px;
    text-decoration-color: black;
}

.register p a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-weight: 400;
}

.register p a:hover {
    text-decoration: underline;
}
/* Ocultar o "olho" no campo de senha */
input[type="password"]::-webkit-password-reveal-button {
    display: none;
}
